<div>honyaku_test_results 2 !!!</div>
<% if @tested_entry_2.result.is_a?(TrueClass) then %>
  Good.
<% else %>
  Wrong.
<% end %>
<div>
<%= @test_entry_2.description %>
<%= @test_entry_2.youtube_url %>
</div>