<!-- 翻訳テスト本体 >>> 翻訳テストスタートページ -->
<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <img class="img-circle" src="<%= image_path 'sloth.png' %>"　height="300" width="300" alt="翻訳テスト image">
      <h5 class="mt-0 mb-1">翻訳テストしますか？</h5>
      <button type="button" class="honyaku_start">スタートする</button>
    </div>
  </div>
</div>
  
