 <ul class="list-unstyled">
    <li class="media">
      <div class="media-left">
          <img class="d-flex mr-3 img-circle" src="<%= image_path 'mountain.png' %>" alt="翻訳テスト image">
      </div>
      <div class="media-body">
        <h5 class="mt-0 mb-1">翻訳テストしますか？</h5>
        <button type="button" class="honyaku_start">スタートする</button>
      </div>
    </li>
</ul>