 <div class="btn-toolbar">
      <div class="btn-group">
        <%= button_to honyaku_user_path, method: :get, class: "btn btn-xs btn-primary btn-rounded" do %>
          <span class="glyphicon glyphicon-fire btn-font-config">もう一回</span>
        <% end %>
        <%= button_to user_path, method: :get, class: "btn btn-xs btn-primary btn-rounded" do %>
          <span class="glyphicon glyphicon-fire btn-font-config">マイページへ</span>
        <% end %>
      </div>
  </div>