<!-- 翻訳テスト -->

    <!-- スタートページ -->
    <div id="honyaku_startpage">
        <%= render 'users/honyaku_startpage' %>
    </div>

    <!-- テスト問題表示 -->
    <div class="row">
      <!-- 翻訳テストテンプレート表示-->
      <div id="honyaku_test">
          <%= render 'users/honyaku_tests', test_entries: @test_entries, option_arrays: @option_arrays %>
      </div>

      <!-- テスト結果表示 -->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class ="test-record" id="test_record">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
          <%= javascript_include_tag 'application' %>
        </div>
      </div>
    </div>
