<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <div class ="bridge-mypage-cell user-pane" >
      <div class="user-pane-heading user-pane-font-large">
        <%= @user.name %>さん
      </div>
      <div class="user-pane-body bridge-mypage-box text-center">
        <img class="img-circle" src="<%= gravatar_url(@user, { size: 80 }) %>" alt="">
      </div>
    </div>
    <div class="bridge-mypage-cell" >
      <div class="user-pane-other user-pane-font-small bold">マスターしている単語<br>@翻訳テスト</div>
      <div class= "bridge-mypage-box" id="test-circle1"></div>
        <script>
          $( document ).ready(function() {
          $('#test-circle1').circliful();
          });
        </script>
    </div>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">

    <% dategroup_array = result_dategroup(@tests) %>
    <% dategroup_array.each do |dategroup|  %> 

    <div class="testresult-header">
       <span class="bold"><%= dategroup[0][0..10] %></span>
    </div>
    <div class="testresult-date-group">
      <div class="row">

    <% dategroup[1].each do |test|  %> 

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="">
             <%= render 'users/test_template', test_id: test.id %>
          </div>
        </div>
    <% end %>
      </div>
    </div>
    <% end %>

  </div>
  
</div>