<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>BRIDGE CRAWLER</h1>
          <% unless logged_in? %>
            <a href="" class="btn btn-success btn-lg">Bridgeテストを始める</a>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<p>テスト例をランダムで二つ載せる</p>
<div>
  <div class=sampletest>翻訳テスト</div>
  <div class=sampletest>ヒアリングテスト</div>
</div>

