<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <% unless logged_in? %>
          <%= link_to "英語すこし勉強してみますか？", signup_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if logged_in? %>
  <!-- メニュー画面を表示 -->
  <div class="row menu-tiles">
      <div class="col-sm-4">
        <div class="menu-tile">
          <h4>
            <i class="fa fa-fw fa-check"></i>
            翻訳テスト
          </h4>
          <p>単語から日本語を思い出し、実用的な言葉を覚えていきましょう。</p>
          <%= button_to "翻訳テストへ", { controller: 'users', action: 'honyaku', id: current_user.id}, {method: :get, class: "btn btn-default"} %> 
        </div>
      </div>
      <div class="col-sm-4">
        <div class="menu-tile">
          <h4>
            <i class="fa fa-fw fa-check"></i>
            あなたのスコア
          </h4>
          <p>今までのあなたのテスト結果を参照できます。勉強の参考にしてくださいね。</p>
          <%= button_to "マイページへ", { controller: 'users', action: 'show', id: current_user.id}, {method: :get, class: "btn btn-default"} %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="menu-tile">
          <h4>
            <i class="fa fa-fw fa-check"></i>
            (作成中) ヒアリングテスト
          </h4>
          <p>Youtubeから、役立つ英語を聞いて勉強していきましょう。</p>
          <button type="button" class= "btn btn-default">作成中</button>
        </div>
      </div>
  </div>

<% else %>
  <!-- 試しのテストを挿入 -->
<% end %>

