
<div id="footer-container">
  <div id="footer">
    <div id="footer-main">
      All data is sourced by <a href="http://bridge-english.blogspot.jp/" target="_blank">オンライン英会話辞典 BRIDGE</a> with all my gratitude.  
    </div>
    <div id="footer-links">
      <ul id="footer-links-primary">
        <li><span class="copyright" dir="ltr">© 2017 BridgeCrawler</span></li>
      </ul>
      <ul id="footer-links-secondary">
          
      </ul>
     </div>
  </div>
</div>
